<!DOCTYPE HTML>

@model IEnumerable<BoardModel>

<div id="page-wrapper">
    <section id="header" class="wrapper">
        @await Html.PartialAsync("NavBarPartial")
    </section>

    <section id="highlights" class="wrapper style2">
        <div class="title">Все доски</div>
        <div class="container">
            @foreach (var boardModel in Model)
            {
                <a asp-action="OpenBoard" asp-route-boardId="@boardModel.Id" class="image featured"><img src="/images/kanban.png" alt="@boardModel.Id"/></a>
                <a asp-action="OpenBoard" asp-route-boardId="@boardModel.Id" class="button style1">Перейти</a>
            }
        
        </div>
    </section>
</div>

