<!DOCTYPE HTML>

<div id="page-wrapper">
	
	<section id="header" class="wrapper">
		@await Html.PartialAsync("NavBarPartial")
	</section>

	<section id="main" class="wrapper style2">
		<div class="title">Новая доска</div>
		<div class="row aln-center">
			<div>
				<input type="radio" name="type" id="private" checked>
				<label for="private">Приватная</label>
			</div>
		</div>

		<div class="row aln-center">
			<div>
				<input type="radio" name="type" id="public">
				<label for="public">Публичная</label>
			</div>
		</div>
		
		<section id="highlights" class="wrapper style2">
			<div class="container">
				<div class="row aln-center">
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a class="image featured"><img src="/images/kanban.png" alt="Канбан доска"/></a>
							<div>
								<input type="radio" name="format" id="kanban" checked>
								<label for="kanban">Канбан доска</label>
							</div>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a class="image featured"><img src="/images/graph.png" alt="Граф"/></a>
							<div>
								<input type="radio" name="format" id="graph">
								<label for="graph">Граф</label>
							</div>
						</section>
					</div>
				</div>
			</div>
			<br>
			<div class="row aln-center">
                <div class="actions">
                    <a href="@Url.Action("KanbanBoard", "Board")" class="button style1">Создать доску</a>
                </div>
            </div>
		</section>
		
	
	</section>
	
	
</div>
