<!DOCTYPE HTML>

@model BoardModel

<div id="page-wrapper">
	
	<section id="header" class="wrapper">
		@await Html.PartialAsync("NavBarPartial")
	</section>

	<section id="main" class="wrapper style2">
		<div class="title">Новая доска</div>
		<div class="container">
			<div class="align-center">
				<form asp-action="SaveBoard" method="post" enctype="multipart/form-data" class="p-2">
					<div class="validation" asp-validation-summary="ModelOnly"></div>
					
					<div class="form-group">
						<label>Имя</label>
						<div><span asp-validation-for="Name" class="label error"></span></div>
						<input asp-for="Name" class="form-control" type="text" value="">
					</div>
					
					<br>

					<div class="form-group">
						<div class="align-center">
							<div>
                            	<input asp-for="Privacy" value="True" type="radio" name="privacy" id="private">
                            	<label for="private">Приватная</label>
                            </div>
                            <div>
                            	<input asp-for="Privacy" value="False" type="radio" name="privacy" id="public">
                            	<label for="public">Публичная</label>
                            </div>
						</div>
					</div>
					
					<section id="highlights" class="wrapper style2">
						<div class="align-center row">
							@foreach (var boardFormat in Model.BoardFormats)
							{
								<div class="col-4 col-12-medium">
									<section class="highlight">
										<div>
											<a><img class="image featured" src=@($"/images/{boardFormat.Image}.png") alt="@boardFormat.Image"/></a>
											<div>
												<input asp-for="Format" value="@boardFormat.Format" type="radio" name="format" id="id-@boardFormat.Format.ToString()" checked>
												<label for="id-@boardFormat.Format.ToString()">@boardFormat.Label</label>
											</div>
										</div>
									</section>
								</div>
							}
						</div>
					</section>
					
					<div class="align-center">
						<button class="button" type="submit">Создать доску</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	
	
</div>
