
@using TaskStatus = Mandatum.Models.TaskStatus


@model TaskModel

<div id="page-wrapper">
<section id="header" class="wrapper">
		@await Html.PartialAsync("NavBarPartial")
	</section>

<section id="main" class="wrapper style2">
	<div class="title">Задача</div>
	<div class="container">
        <div class="row aln-center">
            
                <form asp-action="SaveTask" method="post" enctype="multipart/form-data" class="p-2">
                    @if (ViewBag.Method == "CreateTask")
                    {
                        <input type="hidden" asp-for="Id" value="0" />
                    }
                    else if (ViewBag.Method == "EditTask")
                    {
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                    }
                     <div class="form-group">
                        <label>Имя</label>
                        <div><span asp-validation-for="Topic"></span></div>
                        <input asp-for="Topic" class="form-control" type="text" placeholder="Задача">
                    </div>
                
                    <div class="form-group">
	                    <label>Статус</label>
	                    <div>
		                    <input asp-for="Status" type="radio" name="status" id="inWait" checked>
		                    <label for="inWait">Не начато</label>
	                    </div>
	                    <div>
		                    <input asp-for="Status" type="radio" name="status" id="inProgress">
		                    <label for="inProgress">В процессе</label>
	                    </div>
	                     <div>
                            <input asp-for="Status" type="radio" name="status" id="done">
                            <label for="done">Готово</label>
                        </div>
	                    
	                    @* <div><span asp-validation-for="Status"></span></div> *@
                     @*    <input asp-for="Status" class="form-control" type="text" placeholder="Статус"> *@
                    </div>
                 
                    <div class="form-group">
                        <label>Описание</label>
                        <div><span asp-validation-for="Description"></span></div>
                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    </div>
        
                
                    <br>
    
                    <button class="btn btn-primary m-2 p-2" type="submit">Сохранить</button>
                    <a asp-action="KanbanBoard" class="btn btn-primary m-2 p-2">Отмена</a>
                </form>
        </div>
    </div>
</section>

</div>



