
@model TaskModel

<div id="page-wrapper">
<section id="header" class="wrapper">
		@await Html.PartialAsync("NavBarPartial")
	</section>

<section id="main" class="wrapper style2">
	<div class="title">Задача</div>
	<div class="container">
        <div class="row aln-center">
	            @if (ViewBag.Method == "CreateTask")
	            {
		            <form asp-action="SaveTask" asp-route-boardId="@ViewBag.boardId" method="post" enctype="multipart/form-data" class="p-2">
			            @await  Html.PartialAsync("TaskFormRartial")
			            <button class="button" type="submit">Сохранить</button>
        	            <a asp-action="CancelTask" asp-route-boardId="@ViewBag.boardId" class="btn btn-primary m-2 p-2">Отмена</a>
        	        </form>
		            
	            }
	             @if (ViewBag.Method == "EditTask")
                {
	                <form asp-action="UpdateTask" asp-route-boardId="@ViewBag.boardId" method="post" enctype="multipart/form-data" class="p-2">
		                 @await  Html.PartialAsync("TaskFormRartial")
		                <button class="button" type="submit">Редактировать</button>
		                <a asp-action="CancelTask" asp-route-boardId="@ViewBag.boardId" class="btn btn-primary m-2 p-2">Отмена</a>
	                </form>
	            }
        </div>
    </div>
</section>
</div>



