<!DOCTYPE HTML>


@using TaskStatus = Mandatum.Models.TaskStatus
@model IEnumerable<Mandatum.Models.TaskModel>



<div id="page-wrapper">
	<section id="header" class="wrapper">
		@await Html.PartialAsync("NavBarPartial")
	</section>
	<section id="main" class="wrapper style2">
		<div>
        	<form asp-action="GiveBoard" asp-controller="Board" asp-route-boardId="@ViewBag.boardId" method="post">
        		<label>Отправьте доску по почте:</label>
        		<input type="text" name="emailUser"/>
        		<input type="submit" value="Отправить"/>
        	</form>
        </div>
		<div class="title">@ViewBag.boardName
		</div>
		<section id="highlights" class="wrapper style2">
			<div class="container">
				<div class="row aln-center">
					@await Html.PartialAsync("KanbanColumnPatrial", Tuple.Create(TaskStatus.InWait, Model.Where(taskModel => taskModel.Status == TaskStatus.InWait)))
					@await Html.PartialAsync("KanbanColumnPatrial", Tuple.Create(TaskStatus.InProgress, Model.Where(taskModel => taskModel.Status == TaskStatus.InProgress)))
					@await Html.PartialAsync("KanbanColumnPatrial", Tuple.Create(TaskStatus.Done, Model.Where(taskModel => taskModel.Status == TaskStatus.Done)))
				</div>
			</div>
		</section>

	</section>
</div>
