<!DOCTYPE HTML>


<label class="container">Личная
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Публичная
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">---Формат---

</label>

<label class="container">Канбан-доска
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Граф
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<div id="main" class="wrapper style2">
  <div class="row aln-left">
    <div class="actions">
      <a href="#" class="button style1">Готово</a>
    </div>
  </div>
</div>