<!DOCTYPE HTML>


<div>
<input type="radio" name="type" id="private" checked> <label for="private">Приватная</label>
</div>

<div>
<input type="radio" name="type" id="public"> <label for="public">Публичная</label>
</div>

<label>Формат</label>

<div>
  <input type="radio" name="format" id="kanban" checked> <label for="kanban">Канбан-доска</label>
</div>
<div>  
  <input type="radio" name="format" id="graph"> <label for="graph">Граф</label>
</div>


<div id="main" class="wrapper style2">
  <div class="row aln-left">
    <div class="actions">
      <a href="#" class="button style1">Готово</a>
    </div>
  </div>
</div>