<!DOCTYPE HTML>

<div id="page-wrapper">
    <section id="header" class="wrapper">
        <div id="logo">
                <h1>Mandatum</h1>
                <p>Сделайте командную работу удобной</p>
        </div>
        
        @await Html.PartialAsync("NavBarPartial")
    </section>

    
    <div id="main" class="wrapper style2">
        <div class="row aln-center">
            <div class="actions">
                <a href="@Url.Action("Register", "Account")" class="button style1">Начать</a>
            </div>
        </div>
    </div>
</div>

