<!DOCTYPE HTML>

<div id="page-wrapper">
    <section id="header" class="wrapper">
        
            
        <div id="logo">
            <h1>Mandatum</h1>
           
             @if (Context.User.Identity.IsAuthenticated)
             {
                 <p>Привет, @User.Identity.Name !</p>
             }
              @if (!Context.User.Identity.IsAuthenticated)
              {
                  <p>Сделайте командную работу удобной</p>
              }
        </div>

        @await Html.PartialAsync("NavBarPartial")
    </section>

    
    <div id="main" class="wrapper style2">
        <div class="row aln-center">
            <div class="actions">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("CreateBoard", "Board")" class="button style1">Создать доску</a>
                }
                @if (!Context.User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Login", "Account")" class="button style1">Начать</a>
                }
            </div>
        </div>
    </div>
</div>

