@page "/newboard"
@using Mandatum.Models

@code {
    private IList<Tasks> tasks = new List<Tasks>();
    private string newInput;

    private void AddTask()
    {
        if (!string.IsNullOrWhiteSpace(newInput))
        {
            tasks.Add(new Tasks{Topic = newInput});
            newInput = string.Empty;
        }
    }
}

<div class="container-fluid">Новая доска
    <div class="row">
        <div class="col">
            <h2>Задачи</h2>
            <table class="table">
                <thead class="table">
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Статус</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                @foreach (var item in tasks)
                {
                    <tbody>
                    <tr>
                        <td>
                            @item.Topic
                        </td>
                        <td>
                            @item.Status
                        </td>
                    </tr>
                    </tbody>
                }
            </table>
			
            <div class="row">
                <div class="col">
                    <input class="form" placeholder="Введи что то" @bind="newInput"/>
                </div>
                <div class="col">
                    <div class="button" @onclick="AddTask">Добавить</div>
                    @*<script>
                        function Add_Task(task) {
                         if (task.NewInput != null)
                             {
                               task.tasks.add(new task{task.Topic = task.NewInput});
                               task.NewInput = null;
                             }
                        }
                        </script>*@
                </div>

            </div>
        </div>
    </div>
</div>