@using Mandatum.infra
@model Mandatum.ViewModels.LoginModel
 

<div id="page-wrapper">
    <section id="header" class="wrapper">
        @await Html.PartialAsync("NavBarPartial")
    </section>
    
    <section id="main" class="wrapper style2">
        <div class="title">Вход</div>
        
        <div class="container">
            <div class="align-center">
                
                <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <div>
                        <div class="form-group">
                            <label asp-for="Email">Введите Email</label>
                            <span asp-validation-for="Email" class="label error"></span>
                            <input type="text" asp-for="Email"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Введите пароль</label>
                            <span asp-validation-for="Password" class="label error"></span>
                            <input asp-for="Password"/>
                        </div>
                        <br>
                        <div class="align-center">
                            
                            <input type="submit" value="Войти в аккаунт" class="button login"/>
                            <label>или</label>
                            <a asp-action="Login" asp-route-authType="@AuthType.Github" asp-controller="Account" class="button style2 login"><img class="image img" src="/images/git.png" alt="">     Войти через Git</a>
                        </div>
                        <br>
                        <div class="align-center">
                            <a asp-action="Login" asp-route-authType="@AuthType.Google" asp-controller="Account" class="button style2 login"><img class="image img" src="/images/google_colored.png" alt=""> Войти через Google</a>
                        </div>
                        <br>
                        <div class="align-center">
                            <a asp-action="Register" asp-controller="Account">Зарегестрироваться</a>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<ul>
  
</ul>




   