@using TaskStatus = Mandatum.Models.TaskStatus
@model BoardViewModel

<section id="highlights" class="wrapper style2">
    <div class="container">
        <div class="row aln-center">
             @await Html.PartialAsync("KanbanColumnPatrial", new KanbanColumnModel(Model.Id, Model.Tasks))

        </div>
    </div>
</section>