<nav id="nav">
    <ul>
        <li><a href="@Url.Action("AllBoards", "Board")">Все доски</a></li>
        <li><a href="@Url.Action("CreateBoard", "Board")">Создать доску</a></li>
        @if (!Context.User.Identity.IsAuthenticated)
        {
            <li> <a href="@Url.Action("Login", "Account")">Войти</a></li>
        }
         @if (Context.User.Identity.IsAuthenticated)
        {
            <li><a href="@Url.Action("Logout", "Account")">Выйти</a></li>
        }
    </ul>
</nav>  
