<nav id="nav">
    <ul>
        <li><a href="@Url.Action("AllBoards", "Board")">Все доски</a></li>
        <li><a href="@Url.Action("CreateBoard", "Board")">Создать доску</a></li>
        <li> <a href="@Url.Action("Register", "Account")">Профиль</a></li> 
        <li> <a href="@Url.Action("UsersList", "User")">Список пользователей</a></li> 
    </ul>
</nav>
