@model BoardViewModel
<section id="highlights" class="wrapper style2">
    <div class="container">
        <div class="align-center">
            @await Html.PartialAsync("TablePartial")
        </div>
    </div>
</section>
